<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0" />
    <title>About Page</title>
  </head>
  <body>
    <h1>{{web_title}}</h1>
    <p>
      Cek Umur Anda Selamat datang di halaman Cek Umur Anda! Di sini, Anda dapat
      dengan mudah mengetahui usia Anda berdasarkan tanggal lahir yang Anda
      masukkan.<br>Halaman ini dirancang untuk memberikan informasi cepat dan
      akurat tentang umur Anda dalam hitungan tahun.<br>Cara
      Menggunakan :
    </p>
    <ol>
        <li>Masukkan Tanggal Lahir: Gunakan kolom input untuk memasukkan
            tanggal lahir Anda.Pastikan format tanggal yang Anda masukkan benar.</li>
        <li>Klik Tombol "Cek Umur": Setelah memasukkan tanggal lahir, klik tombol "Cek
            Umur" untuk memproses data.</li>
        <li>Lihat Hasil: Hasil akan ditampilkan di layar,
            menunjukkan umur Anda dalam tahun, bulan, dan hari.</li>
    </ol>
    <a href="/">Ini Ke Home</a>
  </body>
</html>
